body, html {
  margin: 0;
  padding: 0;
}
#main-content {
  padding: 20px;
}
.sites {
  margin: 10px;
}
#round-logo {
  margin-right: 20px;
  width: 30px;
}
#title {
  margin: 15px;
}
.official {
  float: right;
}
.btn-sites {
  margin: 10px;
}
.btn-sites .button{
  margin: 10px;
}

.fb-plugin {
  margin: 20px;
}

discussion {
  float: left;
  width: 100%;
}

#discussion_title{
  font-size: 38px;
  margin-left: 20px;
  margin-top: 10px;
}

.mdl-layout__header {
  background-color: #029B6C !important;
}

.fb-comments, .fb-comments iframe[style], .fb-comments span {
  margin-top:10px;
  width: 95% !important;
  margin-left: 10px;
  padding-right: 5%;
  margin-bottom: 30px;

}

.layout-transparent .mdl-layout__header,
.layout-transparent .mdl-layout__drawer-button {
  /* This background is dark, so we set text to white. Use 87% black instead if
  your background is light. */
  color: #000;
}

.demo-card-wide.mdl-card {
  width: 30%;
  margin: 10px;
  float: left;
}

.demo-card-wide > .mdl-card__title {
  opacity: 0.8;
  color: #000;
  height: 176px;
}

.demo-card-wide > .mdl-card__title h2{
  background-color: #333;
  color: #FFF;
  padding: 5px;
}

.mdl-layout__drawer-button i {
  margin-top: 10px;
}

.mdl-card__supporting-text {
  height: 122px;
  overflow: hidden;
}

.mdl-mini-footer {
  padding: 20px 16px !important;
}

.share-btn {
  color: #333;
}

.demo-card-wide > .mdl-card__title:hover {
  opacity: 1;
}

.demo-card-wide > .mdl-card__menu {
  color: #fff;
}
#background{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('/images/assert/background.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 40%;
  background-position: center;
  opacity: 0.6;
  filter:alpha(opacity=60);
  z-index:-10;
}
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 999;
}

main .mdl-card.author {
  clear: both;
  min-width: 300px;
  max-width: 500px;
  width: 50%;
  margin: auto;
  background: white;
  padding: 20px;
  background: #fff;
  border: none;
  border-radius: .2857rem;
  z-index: '';
  height: 220px;
  margin: 20px;
  display: block;
}
.author h4 {
  color: #999999;
  font-size: 20px;
  margin: 20px 0;
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;
  width: 150px;

}
.author img {
  float: left;
  height: 80px;
  background: #f0f0f0;
  border: 1px solid #f0f0f0;
  padding: 5px;
}
.author-info {
  margin: 20px;
  margin-left: 30px;
  float: left;
  width: 140px;
}
.author-info h5 {
  font-size: 16px;
  float: left;
  color: #5a5556;
}


/* mobile phone */
@media all and (max-width: 650px) {
  .demo-card-wide.mdl-card {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}
.footer_msg {
  display: none
}
footer {
  height: 75px;
}
footer a {
  line-height: 1.8em;
}
nav.mdl-navigation.mdl-layout--large-screen-only {
  display: none;
}

.author img {
  height: 60px;
}
#title {
  font-size: 26px;
}
li {
  padding-top: 4px;
}
}
