body, html {
  margin: 0;
  padding: 0;
  background: #eee;
}
body, main, 
main h1, 
main h2, 
main h3, 
main h4, 
main h5, 
main h6 {
  font-family: "Raleway", "Microsoft Jhenghei", Helvetica, Arial, Geneva, sans-serif;
}
#round-logo {
  margin-right: 20px;
  width: 40px;
}
.mdl-layout-title a, .mdl-layout-title a:hover {
  color: #FF860A;
}
.mdl-layout__drawer-button i  {
  color: #9E9E9E;
  color: #FF860A;
}
#main-content {
  padding: 20px;
  width: 90%;
  margin: auto;
  overflow-y: initial;
  overflow-x: initial;
}
.title__wrapper{
  border-bottom: 1px solid #e2e2e2;
  min-height: 130px; 
  min-height: 12vh;
  margin-bottom: 20px;
}
#title {
  margin: 15px;
  max-width: 650px;
  float:left;
  font-weight: normal;
  font-size: 2.4em;
  color: #121212;
}
header.mdl-layout__header {
  background-color: #fff;
  box-shadow: 0 0 1px rgba(0,0,0,0.15);
  position: fixed;
}
#main-content {
  margin-top: 60px;
}
.mdl-shadow {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.14);
}

.layout-transparent .mdl-layout__header,
.layout-transparent .mdl-layout__drawer-button {
  /* This background is dark, so we set text to white. Use 87% black instead if
  your background is light. */
  color: #000;
}

.demo-card-wide.mdl-card {
  width: 30%;
  margin: 10px;
  float: left;
}

.demo-card-wide > .mdl-card__title {
  opacity: 0.8;
  color: #000;
  height: 176px;
}

.demo-card-wide > .mdl-card__title h2{
  background-color: #333;
  color: #FFF;
  padding: 5px;
}

.mdl-layout__drawer-button i {
  margin-top: 10px;
}

.mdl-card__supporting-text {
  height: 122px;
  overflow: hidden;
}


.demo-card-wide > .mdl-card__title:hover {
  opacity: 1;
}
.demo-card-wide > .mdl-card__menu {
  color: #fff;
}

/* footer */
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 999;
}
footer.mdl-mini-footer {
  padding: 20px 16px;
}
.license__wrapper {
  position: relative;
  left: 20px;
}

/* author */
main .mdl-card.author {
  clear: both;
  min-width: 300px;
  max-width: 500px;
  width: 50%;
  margin: auto;
  background: white;
  padding: 20px;
  background: #fff;
  border: none;
  border-radius: .2857rem;
  z-index: '';
  height: 220px;
  margin: 20px;
  display: block;
}
.author h4 {
  color: #999999;
  font-size: 20px;
  margin: 20px 0;
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;
  width: 150px;

}
.author-wrapper {
  display: -webkit-flex;
  display: flex;
}
.author img {
  float: left;
  background: #f0f0f0;
  border: 1px solid #f0f0f0;
  padding: 5px;
  width: 80px;
  height: 80px;
}
.author-info {
  margin-top: 20px;
  margin-left: 30px;
  float: left;
  -webkit-flex: 1;
  flex: 1;
}
.author-info h5 {
  font-size: 16px;
  float: left;
  color: #5a5556;
  font-weight: normal;
}
.fb-like {
  margin:20px;
}
.fb-plugin {
  margin: 20px;
}
discussion {
  float: left;
  width: 100%;
  overflow-x: hidden;
}
#discussion_title{
  font-size: 38px;
  margin-left: 20px;
  margin-top: 10px;
}
.fb-comments, .fb-comments iframe[style], .fb-comments span {
  margin-top:10px;
  width: 95% !important;
  margin-left: 10px;
  padding-right: 5%;
  margin-bottom: 30px;

}
.footer-mobile {
  position: fixed;
  bottom: 80px;
  right: 20px;
  z-index: 999;
  font-size: 1rem;
  display: none;
}
.footer-mobile .mdl-button--fab.mdl-button--colored {
  background: #FF860A;
  color: #fff;
  font-size: 18px;
  vertical-align: middle;
}
.mdl-layout__header-row .mdl-navigation__link {
  font-size: 1rem;
}
.mdl-layout__header-row .mdl-navigation__link:hover, .mdl-navigation__link.active {
  border-bottom: 3px solid #FFC107;
  height: 64px;
}

/* mobile phone */
@media all and (max-width: 650px) {
  .footer-mobile {
    bottom: 30px;
    display: block;
 }
 #main-content {
   width: 100%;
   overflow-y: auto;
   overflow-x: hidden;
   padding: 0px;
}
.demo-card-wide.mdl-card {
  width: 100%;
  margin: 0 0 2px 0;
  margin-left: auto;
  margin-right: auto;
}
nav.mdl-navigation.mdl-layout--large-screen-only {
  display: none;
}
li {
  padding-top: 4px;
}
footer.mdl-mini-footer {
  display: none;
}
.author img {
  height: 60px;
}
.author-info {
  width: 100px;
}
.sml-hide{
  display: none;
}
.fb-plugin {
  display: none;
}
.title__wrapper {
  height: 10vh;
}
.license__wrapper {
  width: 90%;
  margin: auto;
}
#title {
  font-size: 1.4rem;
}
}
.banner {
  background: #fff !important;
  position: absolute;
  width: 100%;
  height: 40px;
  padding: 10px;
  text-align: center;
  z-index: 9999;
  top: 57px;
  border-top: 1px solid #eee !important;
  color: #777 !important;
}
@media all and (max-width: 650px) {
  .banner {
    bottom: 0px;
    top: inherit;
    font-size: 12px !important;
    height: 35px;
  }
  .footer-mobile {
    bottom: 70px;
  }
}
