body {
    margin: auto;
    background-color: #EEEEEE;
}

.container {
    margin: 20px;
}

.water {
  fill: #a4bac7;
}

.graticule {
  fill: none;
  stroke: #fff;
  stroke-width: .5px;
}

.graticule :nth-child(2n+16) {
  stroke-dasharray: 2,2;
}

.graticule :nth-child(-2n+15) {
  stroke-dasharray: 2,2;
}

.tectonic {
  fill: none;
  stroke: red;
  opacity: 0.5;
}

.land {
  fill: #d7c7ad;
  stroke: #766951;
}

.borders {
  fill: none;
  stroke: #a5967e;
}

.quake {
  fill: rgba(0,0,0,0);
  stroke-width: 1.5px;
}
