<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang='zh-TW'>
  <head>
    {{> head}}
    <link rel="stylesheet" type="text/css" href="./dist/style.css">
  </head>
  <body>
    {{> header}}
    {{> start}}
    <div>
      <ul>
        <li>雨量單位：毫米</li>
        <li>更新時間：<span class="updateAt"></span></li>
        <li>更新頻率：每10分鐘</li>
        <li>背景圖片：<a href="#note" class="photo-note">來源與授權說明</a></li>
      </ul>
    </div>
      <div class="mychart">
      </div>
      <div id="note">
        圖片來源與授權說明 Photos are from Flickr and Wikipedia under a Creative Commons license. Authors: Chao-Wei Juan, Martin Chen, 黃毛 | YELLOW Mao, Jennifer 真泥佛, icools, sclereid0309, Josie Liao, billy1125, 黃 基峰, Dickson Phua, Kenji Wang, pang yu liu, 東部人的腳印, Gary0801, Andrew Shih-Hsuan Huang, P1020315_Taitung, 惘的人生, Andy Enero, Simon Hsu, Robby Tendean, Albert Hsieh, Simon Hsu, mingyang su, mingphoto36, 偉祥 莊,  A, chia ying Yang, dennis, sheldon0531, tsaiian, Joe Lo, Kovis Lo, minghsuan, 黃毛 | YELLOW Mao, NASA, 我是魚夫, billlushana1, 騏睿(Qi-Ray), Kenming Wang, Jordan Lee, tsaiian, 艾倫周, 準建築人手札網站 Forgemind ArchiMedia. 本網站非商業用途，如有版權冒犯，歡迎來信告至。
      </div>
      {{> end}}
      <div class="cssload-jar loading">
          <div class="cssload-mouth"></div>
          <div class="cssload-neck"></div>
          <div class="cssload-base">
            <div class="cssload-liquid"> </div>
            <div class="cssload-wave"></div>
            <div class="cssload-wave"></div>
            <div class="cssload-bubble"></div>
            <div class="cssload-bubble"></div>
          </div>
          <div class="cssload-bubble"></div>
          <div class="cssload-bubble"></div>
      </div>
    <script type="text/javascript" src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
    <script src="https://cdn.firebase.com/js/client/2.2.9/firebase.js"></script>
    <script type="text/javascript" src="./dist/vendor/raindrops.js"></script>
    <script type="text/javascript" src="./js/vendor/rainyday.min.js"></script>
    <script type="text/javascript" src="./dist/index.js"></script>
    {{> footer}}
  </body>
</html>

