venv/
node_modules
*/node_modules
npm-debug.log
*.swp
.DS_Store
*~
data/movie*.json
data/art.json
instants*.py
data/tw_basketball.json
data/oil.json
data/weather*.json
data/air*.json
data/alert*.json
