<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang='zh-TW'>
  <head>

    {{> head}}
    <link rel="stylesheet" type="text/css" href="css/style.css">
  </head>
  <body>
    {{> header}}
    {{> start}}
     <div class="note">
        <li class="data-src">資料來源：<a href="http://www.taipower.com.tw/index.aspx">台灣電力公司</a></li>
        <li class="update-at">更新時間：</li>
        <li><a href="http://stpc00601.taipower.com.tw/loadGraph/loadGraph/load_reserve.html">備轉容量率:</a><span class="load-rate"></span>（係用來衡量每日供電可靠度之指標）</li>
        <li class="sml-hide data-src"><a href="http://www.taiwanstat.com/opendata/post/2015/04/29/electricity-desc.html">電力名詞解釋</a></li>
      </div>
      <div class="supply-state">
        <div class="state-note"></div>
        <svg id="battery" width="150px" height="70px"></svg>
        <span class="battery-text">備轉容量率/法定備用容量率（15％）</span>
      </div>
       <div class="gauge-container">
        <span id="TwGaugeContainer"></span>
        <span class="usage red"><h5></h5></span><hr class="hightlight"/>
        <span class="max-supply"><h5></h5></span>
        <span class="supply"><h5></h5></span>
        <span class="person"><h5></h5></span>
        <span class="supply-people orange"><h5></h5></span>
      </div>

      <div class="gauge-container">
        <span id="NorthGaugeContainer"></span>
        <span class="usage red"><h5></h5></span><hr class="hightlight"/>
        <img  class="region" src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/dc/Northern_Taiwan_official_determined.svg/2000px-Northern_Taiwan_official_determined.svg.png"/>
        <span class="max-supply"><h5></h5></span>
        <span class="supply"><h5></h5></span>
        <span class="person"><h5></h5></span>
        <span class="supply-people orange"><h5></h5></span>
      </div>
      <div class="gauge-container">
        <span id="CenterGaugeContainer"></span>
        <span class="usage red"><h5></h5></span><hr class="hightlight"/>
        <img  class="region" src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/7b/Central_Taiwan_official_determined.svg/500px-Central_Taiwan_official_determined.svg.png"/>
        <span class="max-supply"><h5></h5></span>
        <span class="supply"><h5></h5></span>
        <span class="person"><h5></h5></span>
        <span class="supply-people orange"><h5></h5></span>
      </div>
      <div class="gauge-container">
        <span id="SouthGaugeContainer"></span>
        <span class="usage red"><h5></h5></span><hr class="hightlight"/>
        <img  class="region" src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/10/Southern_Taiwan_official_determined.svg/440px-Southern_Taiwan_official_determined.svg.png"/>
        <span class="max-supply"><h5></h5></span>
        <span class="supply"><h5></h5></span>
        <span class="person"><h5></h5></span>
        <span class="supply-people orange"><h5></h5></span>
      </div>
      <div class="gauge-container">
        <span id="EastGaugeContainer"></span>
        <span class="usage red"><h5></h5></span><hr class="hightlight"/>
        <img  class="region" src="https://upload.wikimedia.org/wikipedia/commons/a/a0/Eastern_Taiwan_official_determined.svg"/>
        <span class="max-supply"><h5>最大供電能力：<a href="http://www.taipower.com.tw/content/new_info/images/page2/index-012.jpg">電網系統與中南部共用</a></h5></span>
        <span class="supply"><h5></h5></span>
        <span class="person"><h5></h5></span>
        <span class="supply-people orange"><h5></h5></span>
      </div>
      <div class="remarker">
        <p>備註：</p>
        <ol>
          <li class="red">台灣電網可跨區輸電幹線輸送，區域供電最大供電能力僅提供參考。</li>
          <li>區域最大值供電能力計算方式：係依<a href="http://stpc00601.taipower.com.tw/loadGraph/loadGraph/load_reserve.html">當日最大供電能力</a>及103年北、中、南各地區<a href="http://www.taipower.com.tw/content/new_info/new_info-c21.aspx?LinkID=12">供電能力比例</a>作為預測依據。</li>
          <li>
            因東部最大供電能力電網系統與中南部共用，圖示最大值計算方式為今天最大供電能力乘以過往區域用電比例。
            </li>
            <li>
            區域劃分：四分法：依據行政院經建會都市及住宅發展處所擬訂之「臺灣地區綜合開發計畫」。圖片來源Luuva 上傳維基百科創用CC 姓名標示-相同方式分享 3.0。
            </li>
            <li>
            人口資料為非即時資料，有些許誤差，相關實際資料請以<a href="http://www.ris.gov.tw/zh_TW/web/guest;jsessionid=E358EB7D7C529AD0AD50616E52C325F7">內政部人口資料庫</a>公布為主。
            </li>
          <li>各區用電之資料，係由調度即時系統取得，再依各區發電端去演算推估，非由變電所負載端實際量測，且並未考量各區間電力轉供等狀況，故所提供資料會與實際各區負載值會有所出入；此外，調度即時系統資料可能因系統維護、資料之設定、傳輸等因素，會與實際分區負載值有些許誤差，相關實際資料請以台電公司正式公佈為準。
          </li>
          <li><a href="http://www.taipower.com.tw/content/new_info/new_info_in.aspx?LinkID=11">更多用電參考資訊</a>
          </li>
      </ol>
      </div>
    {{> end}}
    <script type="text/javascript" src="./js/zhutil.min.js"></script>
    <script type="text/javascript" src="./js/gauge.js"></script>
    <script type="text/javascript" src="./js/index.js"></script>
    {{> footer}}
  </body>
</html>

