body {
  padding: 0;
  margin: 0;
}
html, body{
  height: 100%
}
#info {
  z-index: 1000;
  position: absolute;
  right: 0;
  background-color: white;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
}
.red {
  color: red;
}

@media screen and (min-width: 800px) {

  #map {
    height: 500px;    
    height: 80vh;
  }
  #GPS {
    position: absolute;
    right: 20px;
    bottom: 30px;
    z-index: 1000;
  }	
  #hint {
    display: none;
  }
}
@media screen and (max-width: 800px){
  #map {
    height:100%;
    height: calc(100% - 56px);

  }
  #info::before {
    content: '台南市登革熱及快篩診所地圖\A';
    white-space: pre;
    font-weight: bold;
  }

  main .title__wrapper, .mdl-card.author{
    display:none !important;
  }
  #hint {
    position: absolute;
    width: 50%;
    left: 25%;
    right: 50%;
    transition: top 1s;
    top: -100%;
    margin: 0px auto;
    z-index: 100000000;

  }
  #hint.show {
    top: 25%;
  }
  #QA {
    position: absolute;
    right: 20px;
    bottom: 30px;
    z-index: 1000;
  }	
}

