body {
    padding: 0;
    margin: 0;
}
html, body{
    height: 100%
}
#info {
    z-index: 1000;
    position: absolute;
    right: 0;
    background-color: white;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
}

@media screen and (min-device-width: 500px) {
   
    #map {
        height:300px;
    }
}
@media screen and (max-width: 500px){
    #map {
        height: calc(100vh - 56px);
    }
    #info::before {
        content: '台南市登革熱及快篩診所地圖\A';
        white-space: pre;
        font-weight: bold;
    }

    main .title__wrapper {
        display:none;
    }

}

