<div class="footer-mobile">
  <button class="scrollup mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored mdl-shadow--2dp" id="set">
    <i class="material-icons">keyboard_arrow_up</i>
  </button>
</div>
<footer class="mdl-mini-footer">
  <div class="mdl-mini-footer__left-section">© 2015 <a href="http://taiwanstat-about-us.cannerapp.com">用數據看台灣</a> 
  <!--<a href="http://netdb.csie.ncku.edu.tw">NCKU-NetDB</a>-->
    {{#if chart_description.collaborators}}{{#each chart_description.collaborators}} ·
    <a href="{{url}}">{{name}}</a>{{/each}}{{/if}}
    · <a href="https://www.facebook.com/taiwanstat/?fref=ts"><i class="facebook square icon"></i></a>
    · <a href="https://github.com/TaiwanStat"><i class="github square icon"></i></a>
		</a>
  </div>
  <div class="mdl-mini-footer__right-section">
    <span class="footer_msg">合作提案、客製化圖表製作、意見回饋
  </span>
    歡迎來信: <a href="mailto:contact@taiwanstat.com">contact@taiwanstat.com</a>
  </div>
  </footer> 
{{#if chart_description.url}}
<script src="//s3-ap-northeast-1.amazonaws.com/static.twstat.com/js/main.min.js"></script>
{{/if}}
