<footer class="mdl-mini-footer">
  <div class="mdl-mini-footer__left-section">© 2015 <a href="http://taiwanstat_members.cannerapp.com">用數據看台灣團隊</a> | 
    <a href="http://netdb.csie.ncku.edu.tw">NCKU-NetDB</a>
    {{#if chart_description.collaborators}}{{#each chart_description.collaborators}} | 
    <a href="{{url}}">{{name}}</a>{{/each}}{{/if}}
  </div>
  <div class="mdl-mini-footer__right-section">
    <span class="footer_msg">合作提案、客製化圖表製作、意見回饋
  </span>
    歡迎來信: <a href="mailto:contact@taiwanstat.com">contact@taiwanstat.com</a>
  </div>
  </footer> 
{{#if chart_description.url}}
<script src="/js/main.js"></script>
{{/if}}
