<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header" id="layout-header">
<header class="mdl-layout__header">
  <div class="mdl-layout__header-row">
  <span class="mdl-layout-title"><a href="http://real.taiwanstat.com/"><img src="https://s3-ap-northeast-1.amazonaws.com/static.twstat.com/realtime/images/assert/round-logo.png" id="round-logo"/>用數據看台灣</a></span>
  <div class="mdl-layout-spacer"></div>
  <nav class="mdl-navigation mdl-layout--large-screen-only">
    <a class="mdl-navigation__link" href="https://www.taiwanstat.com/realtime/">台灣開放即時資料</a>
    <a class="mdl-navigation__link" href="https://www.taiwanstat.com/statistics/">台灣開放統計資料</a>
    <a class="mdl-navigation__link" href="http://global.taiwanstat.com/r/">世界即時資訊</a>
    <a class="mdl-navigation__link" href="http://global.taiwanstat.com/l/">世界統計資訊</a>
    <a class="mdl-navigation__link" href="https://taiwanstat.com/blog/opendata/">開放資料分析部落格</a>
    <a class="mdl-navigation__link" href="http://taiwanstat-about-us.cannerapp.com/">關於我們</a>
  </nav>
  <div>
</header>
<div class="mdl-layout__drawer">
  <span class="mdl-layout-title"><a href="http://real.taiwanstat.com/"><img src="https://s3-ap-northeast-1.amazonaws.com/static.twstat.com/realtime/images/assert/round-logo.png" id="round-logo"/>用數據看台灣</a></span>
  <nav class="mdl-navigation">
    <a class="mdl-navigation__link" href="https://www.taiwanstat.com/realtime/">台灣開放即時資料</a>
    <a class="mdl-navigation__link" href="https://www.taiwanstat.com/statistics/">台灣開放統計資料</a>
    <a class="mdl-navigation__link" href="http://global.taiwanstat.com/r/">世界即時資訊</a>
    <a class="mdl-navigation__link" href="http://global.taiwanstat.com/l/">世界統計資訊</a>
    <a class="mdl-navigation__link" href="https://taiwanstat.com/blog/opendata/">開放資料分析部落格</a>
    <a class="mdl-navigation__link" href="http://taiwanstat-about-us.cannerapp.com/">關於我們</a>
  </nav>
</div>
