<title>用數據看台灣 - {{chart_description.title}}</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta property="og:title" content="用數據看台灣 - {{chart_description.title}}">
<meta property="og:site_name" content="用數據看台灣 - {{chart_description.title}}">
<meta property="og:description" content="{{chart_description.description}}">
<meta property="og:image" content="https://s3-ap-northeast-1.amazonaws.com/static.twstat.com/realtime/{{chart_description.img}}">
<meta property="og:image:type" content="image/png">
{{#if chart_description.author}}
  <meta name="author" content="{{chart_description.author}}">
  <meta name="citation_authors" content="{{chart_description.author}}">
  <meta name="description" content="{{chart_description.description}} Author: {{chart_description.author}}" />
{{/if}}
<meta name="keywords" content="數據、視覺化、台灣、圖表、資訊">
<meta property="og:locale" content="zh_TW">
<meta name="viewport" content="width=device-width, initial-scale=1.0" >
<link rel="icon" type="image/png" href="//s3-ap-northeast-1.amazonaws.com/static.twstat.com/favicon.ico">
<link rel="shortcut icon" href="//s3-ap-northeast-1.amazonaws.com/static.twstat.com/favicon.ico" type="image/x-icon">
<link rel="stylesheet" href="//s3-ap-northeast-1.amazonaws.com/static.twstat.com/css/style.min.css"/>
<link rel="stylesheet" href="//storage.googleapis.com/code.getmdl.io/1.0.6/material.amber-orange.min.css">
<link rel="stylesheet" href="//s3-ap-northeast-1.amazonaws.com/static.twstat.com/bower_components/semantic/dist/semantic.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<link rel="stylesheet" href="//fonts.googleapis.com/icon?family=Material+Icons">
<script src="//storage.googleapis.com/code.getmdl.io/1.0.6/material.min.js" async></script>
