<!DOCTYPE html>
<head>
  {{> head}}
    <link rel="stylesheet" href="./style.css" type="text/css" />
</head>
<body>
  {{> header}}
  {{> start}}
  <ul>
    <li>資料來源：<a href="http://data.tainan.gov.tw/">臺南市政府資料開放平台</a></li>
  </ul>

   <script src="./zhutil.min.js"></script>
   <div id="container">
      <div id="yearScale"> </div>
      <div class="slider"></div>
   		<div id="graph"> </div>
   		<div id="container_child">
			<div class="control panels">
        <div class="ui icon buttons">
            <div id="start" class="ui button">
                <i class="play icon"></i>
            </div>
            <div id="stop" class="ui button">
                <i class="pause icon"></i>
            </div>
            <div id="restart" class="ui button">
                <i class="reply icon"></i>
            </div>
        </div>

	   		<div id="chart"> </div>

	   	</div>
   </div>
  {{> end}}
    <script src="http://labratrevenge.com/d3-tip/javascripts/d3.tip.v0.6.3.js"></script>
    <script src="https://cdn.firebase.com/js/client/2.2.9/firebase.js"></script>
   <script type="text/javascript" src="./chart.js" charset="UTF-8"> </script>
   <script src="http://d3js.org/topojson.v1.min.js"></script>
    <!-- my js & css -->
  {{> footer}}
</body>
