#graph {
  float: left;
}

#chart {
  float: left;
}

.slider {
  float: left;
}

.xAxis {
  fill: none;
  stroke: #000;
  stroke-width:1px;
  shape-rendering: crispEdges;
}

.yAxis {
  fill: none;
  stroke: #000;
  stroke-width:1px;
  shape-rendering: crispEdges;
}


.dateAxis {
  fill: none;
  stroke: #000;
  stroke-width:1px;
  shape-rendering: crispEdges;
}


.slider {
  position: relative;
  top: 40px;
  left: 40px;
  margin-bottom: 100px;
}

.slider-tray {
  position: absolute;
  width: 100%;
  height: 6px;
  border: solid 1px #ccc;
  border-top-color: #aaa;
  border-radius: 4px;
  background-color: #f0f0f0;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.08);
}

.slider-handle {
  position: absolute;
  top: 3px;
}

.slider-handle-icon {
  width: 14px;
  height: 14px;
  border: solid 1px #aaa;
  position: absolute;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  top: -7px;
  left: -7px;
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
  z-index: 1000;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}

#yearScale {
  float: left;
}

.slider {
  float: left;
}

.control.panels {
  display: inline;
  margin-bottom: 50px;
}

.counta {
  font: 24px Helvetica;
}

.loc_incident_count {
  font: 54px Helvetica;
  fill: red;
}
