<!DOCTYPE html>
<html>
  <head>
    {{> head}}
    <link href="style.css" media="screen" rel="stylesheet" type="text/css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.0.0/moment.min.js"></script>
  </head>
  <body>
    {{> header}}
    {{> start}}
      <a href="http://real.taiwanstat.com/earthquake">
          <div class="ui red button">全球過去 30 日規模大於 4.5 的地震地圖</div>
      </a>
      <hr>
      <ul>
        <li>
          <div class="data-src">資料來源 : <a href="http://earthquake.usgs.gov/">USGS</a></div>
        </li>
        <li>
          <div class="data-update-time">更新時間：每 15 分鐘更新</div>
        </li>
        <li>
          <div style="color: red">來源為 United States Geological Survey 可能與台灣氣象中心的資料有些微不同</div>
        </li>

      </ul>
      <table class="ui table">
        <thead>
          <tr>
            <th>時間</th>
            <th>震源</th>
            <th>地震震级</th>
          </tr>
        </thead>
        <tbody class="piechart tbody">
        </tbody>
      </table>
      <div id="content">
      </div>
    {{> end}}
    <script src="https://d3js.org/topojson.v1.min.js"></script>
    <script src="./index.js" type="text/javascript"></script>
    {{> footer}}
  </body>
</html>
