html {
    background: #eee;
    font-family: 'Noto Sans', 'sans-serif', 'Microsoft Jhenghei'; 
    width: 100%;
    height: 100%;
}
body {
    margin: auto;
    margin-top: 30px;
    background: #eee;
}

.container {
    margin: 20px;
}
a {
    color: #337ab7;
    text-decoration: blink;
}
h5 {
    margin: 15x;
}
.state-note {
  margin: 5px 0 15px 0;
}
.red {
    color: rgb(255, 119, 119);
}
.blue {
    color: rgb(23, 139, 202);
}
.orange {
    color: rgb(249, 118, 9);
}
.yellow {
    color:  #FDCA00;
}
.fb-like.fb_iframe_widget {
    overflow: hidden;
    width: 330px;
    margin-top: 10px;
    margin-left: 10px;
}
.place-container {
    display: inline;
    float: left;
    text-align: center;
    padding: 20px;
    width: 270px;
    height: 260px;
    margin-bottom: 10px;
}
.note {
    font-size: 14px;
    margin: 10px;
    border-bottom: 1px solid #D2D2D2;
    padding: 10px;
}
svg {
    margin: 30px;
    height: 100px;
    width: 200px;
    margin-bottom: 0;
    margin-left: 52px;
}
