.mdl-layout__container {
  z-index: 999;
}
footer {
  z-index: 999;
}
body {
  background-color: rgba(68, 167, 147, 0.7);
  overflow: hidden;
  height: 100%;
  margin: 0;
  padding: 0;
  color: white;
  font-family: Meiryo, "微軟正黑體", "Microsoft JhengHei"; 
}
#main-content {
  padding: 10px;
}
#layout-header {
  display: none;
}
.mychart {
  min-height: 600px;
  width: 100%;
  margin: auto;
  position: relative;
  top: 20px;
  margin-bottom: 20px;
}
a {
  color: #fff;
  text-decoration: blink;
}
.raindrop a {
  border: 1px solid #fff;
  padding: 3px;
  margin: 10px;
  min-width: 150px;
  padding: 10px 20px;
  line-height: 1.42857143;
  font-size: 16px;
  top: 25px;
  position: relative;
  z-index: 999;
}
svg {
  position: relative;
  top: -258px;
}
.axis path,
.axis line {
    fill: none;
    stroke: #fff;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    font-size: 11px;
    fill: #fff;
}
.axis g:first-child text{
  display: none;
}
.axis g:nth-child(6) text{
  display: none;
}

.raindrop {
  height: 320px;
  width: 250px;
  display: inline-block;
  margin: 15px;
  overflow: hidden;
  margin-bottom: 30px;
  text-align: center;
  border-radius: 10px; 
  border: 1.5px solid #fff;
  color: white;
  -webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC);
}
.raindrop h3 {
  padding-top: 20px;
  font-size: 26px;
  font-weight: bold;
}
.raindrop h6 {
  padding: 2px;
  margin: 0px;
}
.raindrop canvas {
  z-index: -1;
}
#background-img {
  width: 100%;
  height: 100%;
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
  filter: brightness(0.8);
  -webkit-filter: brightness(0.8);
  -moz-filter: brightness(0.8);
  -o-filter: brightness(0.8);
  -ms-filter: brightness(0.8);
}

.red {
  color:rgb(244, 0, 0);
  font-weight: bold;
  font-size: 16px;
}
.sred {
  color: rgb(240, 0, 0);
}
.photo-note {
  color: rgb(240, 0, 0);
}
h3.sitename {
  font-size: 20px;
}
.btn-more, .btn-back {
  border-radius: 5px;
}
.btn-more:hover, .btn-back:hover {
  background: #fff;
  box-shadow: 1px 1px 0px #eee;
}
@media all and (max-width: 600px) {
  .raindrop {
    width: 280px;
    margin: auto;
    display: block;
    margin-bottom: 20px;
  }

  #main-content {
    padding: 0px;
  }
}
.cssload-jar {
  position: relative;
  width: 100%;
  margin: 106px auto 0;
  text-align: center;
}
.cssload-jar .cssload-mouth {
  width: 85px;
  height: 21px;
  margin: 0 auto -2px;
  border-right: 9px solid rgba(255,255,255,0);
  border-left: 9px solid rgba(255,255,255,0);
  border-radius: 43px;
    -o-border-radius: 43px;
    -ms-border-radius: 43px;
    -webkit-border-radius: 43px;
    -moz-border-radius: 43px;
}
.cssload-jar .cssload-neck {
  width: 74px;
  height: 100px;
  margin: 0 auto -15px;
  z-index: 7;
  position: relative;
  background-color: rgba(255,255,255,0.49);
  border-right: 9px solid rgba(255,255,255,0.44);
  border-left: 9px solid rgba(255,255,255,0.49);
}
.cssload-jar .cssload-bubble {
  width: 21px;
  height: 21px;
  position: absolute;
  background-color: rgb(76,168,217);
  opacity: 0.4;
  left: 50%;
  z-index: 8;
  top: 234px;
  border-radius: 100%;
    -o-border-radius: 100%;
    -ms-border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
  animation: cssload-buble 1.3s linear 0.65s infinite;
    -o-animation: cssload-buble 1.3s linear 0.65s infinite;
    -ms-animation: cssload-buble 1.3s linear 0.65s infinite;
    -webkit-animation: cssload-buble 1.3s linear 0.65s infinite;
    -moz-animation: cssload-buble 1.3s linear 0.65s infinite;
}
.cssload-jar .cssload-bubble + .cssload-bubble {
  left: 50%;
  top: 255px;
  width: 32px;
  height: 32px;
  animation-duration: 1.95s;
    -o-animation-duration: 1.95s;
    -ms-animation-duration: 1.95s;
    -webkit-animation-duration: 1.95s;
    -moz-animation-duration: 1.95s;
}
.cssload-jar .cssload-base {
  margin: auto;
  width: 255px;
  height: 213px;
  border: 9px solid rgba(255,255,255,0.5);
  border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
  overflow: hidden;
  position: relative;
  z-index: 5;
}
.cssload-jar .cssload-base .cssload-bubble {
  left: 32px;
  top: 106px;
  animation: cssload-bounce 1.495s linear 0s infinite alternate;
    -o-animation: cssload-bounce 1.495s linear 0s infinite alternate;
    -ms-animation: cssload-bounce 1.495s linear 0s infinite alternate;
    -webkit-animation: cssload-bounce 1.495s linear 0s infinite alternate;
    -moz-animation: cssload-bounce 1.495s linear 0s infinite alternate;
}
.cssload-jar .cssload-base .cssload-bubble + .cssload-bubble {
  left: 159px;
  top: 85px;
  animation-duration: 1.95s;
    -o-animation-duration: 1.95s;
    -ms-animation-duration: 1.95s;
    -webkit-animation-duration: 1.95s;
    -moz-animation-duration: 1.95s;
}
.cssload-jar .cssload-liquid {
  height: 85px;
  background-color: rgba(76,168,217,0.98);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
@keyframes cssload-bounce {
  0% {
    transform: translate(11px, 32px);
  }
  50% {
    transform: translate(0, -32px);
  }
  100% {
    transform: translate(-11px, -79px);
    opacity: 1;
  }
}

@-o-keyframes cssload-bounce {
  0% {
    -o-transform: translate(11px, 32px);
  }
  50% {
    -o-transform: translate(0, -32px);
  }
  100% {
    -o-transform: translate(-11px, -79px);
    opacity: 1;
  }
}

@-ms-keyframes cssload-bounce {
  0% {
    -ms-transform: translate(11px, 32px);
  }
  50% {
    -ms-transform: translate(0, -32px);
  }
  100% {
    -ms-transform: translate(-11px, -79px);
    opacity: 1;
  }
}

@-webkit-keyframes cssload-bounce {
  0% {
    -webkit-transform: translate(11px, 32px);
  }
  50% {
    -webkit-transform: translate(0, -32px);
  }
  100% {
    -webkit-transform: translate(-11px, -79px);
    opacity: 1;
  }
}

@-moz-keyframes cssload-bounce {
  0% {
    -moz-transform: translate(11px, 32px);
  }
  50% {
    -moz-transform: translate(0, -32px);
  }
  100% {
    -moz-transform: translate(-11px, -79px);
    opacity: 1;
  }
}

@keyframes cssload-buble {
  0% {
    transform: translate(6px, 21px);
  }
  25% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(-6px, -53px);
  }
  75% {
    transform: translate(0, -106px);
    opacity: 1;
  }
  100% {
    transform: translate(6px, -213px);
    opacity: 0;
  }
}

@-o-keyframes cssload-buble {
  0% {
    -o-transform: translate(6px, 21px);
  }
  25% {
    -o-transform: translate(0, 0px);
  }
  50% {
    -o-transform: translate(-6px, -53px);
  }
  75% {
    -o-transform: translate(0, -106px);
    opacity: 1;
  }
  100% {
    -o-transform: translate(6px, -213px);
    opacity: 0;
  }
}

@-ms-keyframes cssload-buble {
  0% {
    -ms-transform: translate(6px, 21px);
  }
  25% {
    -ms-transform: translate(0, 0px);
  }
  50% {
    -ms-transform: translate(-6px, -53px);
  }
  75% {
    -ms-transform: translate(0, -106px);
    opacity: 1;
  }
  100% {
    -ms-transform: translate(6px, -213px);
    opacity: 0;
  }
}

@-webkit-keyframes cssload-buble {
  0% {
    -webkit-transform: translate(6px, 21px);
  }
  25% {
    -webkit-transform: translate(0, 0px);
  }
  50% {
    -webkit-transform: translate(-6px, -53px);
  }
  75% {
    -webkit-transform: translate(0, -106px);
    opacity: 1;
  }
  100% {
    -webkit-transform: translate(6px, -213px);
    opacity: 0;
  }
}

@-moz-keyframes cssload-buble {
  0% {
    -moz-transform: translate(6px, 21px);
  }
  25% {
    -moz-transform: translate(0, 0px);
  }
  50% {
    -moz-transform: translate(-6px, -53px);
  }
  75% {
    -moz-transform: translate(0, -106px);
    opacity: 1;
  }
  100% {
    -moz-transform: translate(6px, -213px);
    opacity: 0;
  }
}
body > canvas {
  filter: brightness(0.8);
  -webkit-filter: brightness(0.8);
  -moz-filter: brightness(0.8);
  -o-filter: brightness(0.8);
  -ms-filter: brightness(0.8);
}

