<html>
  <head>
    {{> header}}
    <style type="text/css">
      body, html {
        margin: 0; padding: 0; height: 100%; overflow: hidden;
      }
    </style>
  </head>

  <body>
    <iframe src="http://water.taiwanstat.com/" width="100%" height="100%" scrolling="yes" frameborder="0">


  </body>
</html>
