#pm2_5 {
  .site_name {
    display: inline;
    display: -webkit-inline-box;
  }
  .status {
    display: inline;
  }
  .status_img {
    margin: auto;
    width: 150px;
    height: 150px;
    display: block;
  }
}


