<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang='zh-TW'>
<head>
  {{> head}}
		<link rel="stylesheet" href="https://npmcdn.com/leaflet@0.7.7/dist/leaflet.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css">
    <link rel="stylesheet" href="./css/style.css" type="text/css" />

</head>
<body>
  {{> header}}
  {{> start}}
  <ul>
    <li>資料來源：<a href="http://data.tainan.gov.tw/">臺南市政府資料開放平台</a></li>
    <li>最新病例資料日期：<span class="updateAt"><span>（已停止更新）</li>
        <li>圖表呈現臺南市各里近期的登革熱狀況，依<b style="color: rgb(3, 177, 255);">「近2週內無病例」</b>、<b style="color: rgb(0, 187, 170);">「近1周內無病例」</b>與<b style="color:#C1BEBE;">「其他」</b>三種情況區分。</li>
        <li>點選地圖可以查詢各里病例數</li>
        <li>相關網址：<a href="http://long.taiwanstat.com/dengue-animation/">2015台南登革熱-熱區變遷地圖</a></li>
  </ul>
  <div class="visual">
    <div id="map"> </div>
  </div>
  {{> end}}
   <script src="https://cdn.firebase.com/js/client/2.2.9/firebase.js"></script>
	 <script src="https://npmcdn.com/leaflet@0.7.7/dist/leaflet.js"></script>

    <script src="https://d3js.org/topojson.v1.min.js"></script>
   <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.min.js"></script>
   <script type="text/javascript" src="./dist/village_class.js" charset="UTF-8"> </script>
   <script>
      window.initMap(23, 120.225, 13);
      window.initData(
        './tainan.topo.json',
        './village_class.json'
        );
 </script>
    <!-- my js & css -->
  {{> footer}}
</body>
</html>
