<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang='zh-TW'>
  <head>
    {{> head}}
    <link type="text/css" rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
    <link rel="stylesheet" href="css/style.css" type="text/css" media="all" />
  </head>

  <body>
  {{> header}}
    {{> start}}
    <ul id = "main-info sml-hide">
      <li><font style = "color:#CC0000">一級警戒</font>：發布淹水警戒之鄉(鎮、市、區)如持續降雨，其轄內易淹水村里及道路可能已經開始積淹水。</li>
      <li><font style = "color:#EDA92C">二級警戒</font>：發布淹水警戒之鄉(鎮、市、區)如持續降雨，其轄內易淹水村里及道路可能三小時內開始積淹水。</li>
      <li>註：淹水警戒準確性受降雨時空分布不均、雨量站密度、地形地物、河川排水及其當時水位高低、沿海潮位、排水流路阻塞等因素影響，可配合即時雨量觀測（如QPESUMS）及當地降雨實況研判因應。</li>
      <li style = "color:red">僅轉載自水利署所發布警報</li>
      <li>資料來源：<a href="http://data.gov.tw/node/6164">政府資料開放平臺</a></li>
      <li><span class="updateAt">更新時間：不定期</span></li>
    </ul>

    <table id = "info">
      <tr>
        <td>所有</td>
        <td>今日</td>
      </tr>
    </table>
    <div id = "toggle"></div>
    <div id = "map">
      <header class="header left">
        <i class="fa fa-refresh fa-2x" id="resetView"></i>
        <i class="fa fa-compass fa-2x" id="getLocation"></i>
      </header>
    </div>
    <div id = "chart">
      <header class="header right">
        <i class="fa fa-sort-asc fa-2x" id="up"></i>
        <i class="fa fa-sort-desc fa-2x" id="down"></i>
      </header>
    </div>
    {{> end}}
    <script type="text/javascript" src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
    <script src="http://labratrevenge.com/d3-tip/javascripts/d3.tip.v0.6.3.js"></script>

    <script src="https://www.google.com/jsapi"></script>
    <script src="http://d3js.org/topojson.v1.min.js"></script>
    <script src="js/map.js"></script>
    <script src="js/chart.js"></script>
    <script src="js/toggle.js"></script>
    <script src="js/main.js"></script>
    {{> footer}}
  </body>
</html>
