html {
    background: white;
    font-family: 'Noto Sans', 'sans-serif', 'Microsoft Jhenghei';
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}
body {
    margin: auto;
    width: 100%;
    height: 100%;
}
a {
    color: #337ab7;
    text-decoration: blink;
}
.red {
    color:rgb(244, 0, 0);
}

#map {
    position: relative;
    height: 500px;
    height: 50vh;
    margin-bottom: 20px
    margin-top: 30px;
    width: 95%;
    margin: auto;
}
.foot-note {
  margin: 20px;
}

.info.leaflet-control {
    min-width: 174px;
}

.btn-sites a > .ui.pink.button {
    margin: 0 10px 0 10px;
}


.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}
.info h4 {
    margin: 0 0 5px;
    color: #777;
}
.info.leaflet-control {
    width: 200px;
}
.legend {
    line-height: 18px;
    color: #555;
}
.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}
i.fa.fa-compass.fa-2x {
    cursor: pointer;
    position: absolute;
    right: 10px;
    bottom: 28%;
    z-index: 20;
    background: rgb(66, 186, 221);
    border-radius: 30px;
    color: white;
    padding: 7px;

}
i.fa.fa-refresh {
    cursor: pointer;
    position: absolute;
    right: 10px;
    bottom: 20%;
    z-index: 20;
    background: rgb(66, 186, 221);
    border-radius: 30px;
    padding: 7px;
    color: white;
}

.links {
    z-index: 30;
    position: absolute;
    background: white;
    padding: 20px;
    left: 26%;
    top: 30%;
    box-shadow: 1px 2px 1px rgba(0,0,0,0.4);
    display: none;
}
.rpi-info {
    padding: 10px;
    position: absolute;
    z-index: 20px;
    width: 205px;
    left: 60%;
    top: 35%;
    background: rgba(255,255,255,.8);
    box-shadow: 0 0 15px rgba(0,0,0,.2);
    border-radius: 5px;
    font-size: 0.1rem;
    display: none;
}
.rpi-q {
    padding-left: 3px;
}
.hide-rpi {
    float: right;
    font-size: 1.3rem;
    padding-left: 2px;
}
@media only screen and (max-width: 700px) {

    span#stat-title {
        font-size: 18px;
    }
    .info.leaflet-control {
        width: 140px;
    }
    .rpi-q > .rpi-info {
        display: block
    }

    .rpi-info {
        left: 20%;
        top: 35%;
    }

    i.fa.fa-compass.fa-2x {

    }

    i.fa.fa-link.fa-2x {

    }
    .btn-sites a:nth-child(3) .button {
          display: none;
    }
    .btn-sites a:nth-child(4) .button {
        display: none;
    }


}
