<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang='zh-TW'>
  <head>
    {{> head}}
    <link rel="stylesheet" type="text/css" href="./css/style.css">
		<link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css">



  </head>
  <body>
    {{> header}}
    {{> start}}
    <div class="foot-note">
    <li>資料來源：<a href="https://www.google.com.tw/url?sa=t&rct=j&q=&esrc=s&source=web&cd=1&cad=rja&uact=8&ved=0CBwQFjAA&url=http%3A%2F%2Fwww.epa.gov.tw%2F&ei=51olVe_hGOHNmwWYkYDoBA&usg=AFQjCNHuHmDZw9FzlHwyg9Q5DWy5vbxFXw&bvm=bv.90237346,d.dGY">行政院環境保護署</a><br/>
    </li>
    <li>監測時間：2015年9月</li>
    </div>

    <div id="map">
      <div class="header">
        <i class="fa fa-refresh fa-2x" onclick="resetView()"></i>
        <i class="fa fa-compass fa-2x" onclick="getLocation()"></i>
        <!--<i class="fa fa-link fa-2x" onclick="toogleLinks()"></i>-->
      </div>
    </div>

    <div class="rpi-info"><a class="hide-rpi" href="#" onclick="hideRPIInfo()">x</a><p>「河川污染程度指數, River Pollution Index」簡稱「RPI」。RPI指數係以水中溶氧量 （DO）、生化需氧量（BOD5）、懸浮固體（SS）、與氨氮(NH3-N）等四項水質參數之濃度值，來計算所得之指數積分值，並判定河川水質污染程度。</p></div>

    {{> end}}
		<script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.min.js"></script>
    <script type="text/javascript" src="./dist/index.js"></script>
    {{> footer}}

  </body>
</html>

